/target/
ProjectCheckerRunner/MSBuild
*.unittest.report.xml
.sonar
*.coverage.xml
ProjectCheckerRunner/BuildDrop/**
ProjectCheckerRunner/buildlog*
**/.vs/**
ProjectCheckerRunner/nuget/*.nupkg
/ProjectCheckerRunner/MSbuildPackageDiagramCreator/Properties/launchSettings.json
